@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
//Colors
$primary: hsl(172, 67%, 45%);
$very-dark-cyan: hsl(183, 100%, 15%);
$dark-cyan: hsl(186, 14%, 43%);
$grayish-cyan: hsl(184, 14%, 56%)6;
$light-grayish: hsl(185, 41%, 84%);
$very-light: hsl(185, 41%, 84%);
$white: hsl(0, 0%, 100%);

//Screen sizes
$desktop: 1440px;
$mobile: 375px;

//Font
$font-family: 'Space Mono', sans-serif;
$font-weight: 700;
$input-font-size: 3.3rem;